@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.mainContainer {
    width: 100%;
    min-height: 70rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    min-width: 150px;
    margin: 0 auto 32px auto;
    // padding: 32px;
}

.miniNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $color-gray-500;
    margin-top: 80px;
    margin-bottom: 10px;
    @include responsive_W550px{
        flex-direction: column;
    }
}

.btnNav {
    border-bottom: 2px solid transparent;
}

.activeNav {
    border-bottom: 2px solid red;
}