@import "../../styles/variables.scss";

div a{
    text-decoration: none;
}
// main container
.containerAuth{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 415px;
    height: 478px;
    left: 281px;
    top: 329px;
}

//reset pwd
.containerAuthResetPwd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 415px;
    height: 208px;
    left: 281px;
    top: 429px;
}


.contentContainerForm{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    
    width: 415px;
    height: 320px;
    min-width:150px;
    
}

// reset pwd
.contentContainerFormResetPwd{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    
    width: 415px;
    height: 70px;
    min-width:150px;
    
}


.form{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 415px;
    height: 246px;
    min-width:150px;
    
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.formTitle{
    padding: 0px;
    gap: 4px;
    
    width: 415px;
    height: 58px;
    
    order: 0;
    align-self: stretch;
    flex-grow: 0;    
    
}

.formTitleReset{
    padding: 0px;
    gap: 4px;
    
    width: 415px;
    height: 58px;
    
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title{
    
    font-size: $font-h4;
    font-weight: $font-bold;

    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.subTitle{
    color: $color-black;
    font-size: $font-body-small;
    font-weight: $font-semibold;

}

.formInput{
    padding: 0px;
    gap: 28px;
    
    width: 415px;
    height: 168px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.registerSeparator{
    width: 415px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    hr{
        width: 100%;
        height: 1px;
    }
    span{
        margin: 0px 20px;
        font-size:$font-body-tiny;
        font-weight: $font-semibold;
        color:#6c6c6c;
    }
}



.authError{
    color: $color-alert-400;
    font-size: $font-body-small;
    width:415px;
}


.rememberMe{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 415px;
    height: 80px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.checkBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding:0px;
    padding-top:14px;
    cursor:pointer;

}

.textRememberMe{
    color: $color-gray-500;
    font-size: $font-body-small;
    font-weight: $font-medium;
    width: 97px;
    height: 22px;
    text-align: center;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom:0;
}

.textpwdInfo{
    width: 415px;
    height: 20px;
    font-size:$font-body-tiny;
    font-weight: $font-regular;
    line-height: 20px;
    color: $color-gray-500;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.forgotPassword{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    
    width: 294px;
    height: 22px;
    
    
    flex: none;
    order: 1;
    flex-grow: 1;

}

.textForgotPassword{
    height: 22px;

    color:$color-primary-400;
    font-weight: $font-semibold;
    font-size: $font-body-small;
    cursor:pointer;

    flex: none;
    order: 0;
    flex-grow: 0;
}


// login button, login with google, signup option
.contentContainerAuthOptions{
    padding: 0px;
    gap: 24px;
    
    width: 415px;
    height: 142px;
    min-width:150px;
    flex: none;
    order: 1;
    flex-grow: 0;  
}

.contentContainerButtons{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 415px;
    height: 96px;
    Button, .formInput Button{
        margin-top:50px;
    }
}

.register{
    margin-top:190px;
}

.reset{
    margin-top:90px;
}

.contentContainerAuthEndForm,.forgotPasswordEndForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0px;
    gap: 4px;

    width: 415px;
    height: 80px;

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top:36px;

}

.authRegister{
    margin-top:-35px;
}

.textAuthEndForm{
    font-size: $font-body-small;
    font-weight: $font-semibold;
    line-height: 22px;
    align-items: center;

    span{
      color: $color-primary-400;
      cursor:pointer;
    }
}
.formInput button{
    margin-bottom: 10px;
}   
@media (max-width : 860px){
    .authError,
    .containerAuth, 
    .contentContainerForm, 
    .form, 
    .formTitle,
    .formTitleReset, 
    .formInput,
    .rememberMe,
    .contentContainerAuthOptions,
    .forgotPassword,
    .contentContainerButtons,
    .contentContainerButtons Button, 
    .formInput Button,
    .registerSeparator,
    .containerAuthResetPwd,
    .contentContainerFormResetPwd,
    .contentContainerAuthEndForm,
    .forgotPasswordEndForm
    {
        width: 260px;
    }
    .formTitleReset{
        height: 80px;
    }
    .registerSeparator
    {
        width: 260px;
    }

    .authError{
        font-size: $font-body-tiny;
    }

    .contentContainerButtons{
        margin-top:40px;
    }
    
    .reset{
        margin-top:120px;
    }
   
    .rememberMe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forgotPassword{
        justify-content: center;    
    }
    
    // .contentContainerButtons{
    //     height: 120px;
    // }
    
    .contentContainerButtons Button, .formInput Button{
        padding:9px;
    }
    .textAuthEndForm{
        margin-top:-15px;
    }
    .authRegister{  
      margin-top:-10px;
  }
    .register{  
        margin-top:220px;
    }
    
}

@media (max-width : 550px){
    .registerSeparator{
        display:none;
    }
    .formInput button{
        margin-bottom: 15px;
    }

    .containerAuth, 
    .contentContainerForm, 
    .form, 
    .formTitle, 
    .formInput,
    .rememberMe,
    .forgotPassword,
    .contentContainerButtons,
    .contentContainerAuthOptions,
    .contentContainerButtons Button,
    .formInput Button,
    .containerAuthResetPwd,
    .contentContainerFormResetPwd,
    .contentContainerAuthEndForm,
    .forgotPasswordEndForm
    {
        width: 220px;
        // margin: 0 auto;
    }    
    
   
    .formInput{margin-top:20px}

    .rememberMe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forgotPassword{
        justify-content: center;    
    }
    
    // .contentContainerButtons{
    //     height: 120px;
    // }
    
    .contentContainerButtons Button, .formInput Button, .formInput input{
        padding:2px;
        padding-left:5px;
    }
    .register{
        margin-top:150px;
    }
    // .textAuthEndForm{margin-top:-100px;}
}

@media (max-width : 252px){


    .containerAuth, 
    .contentContainerForm, 
    .form, 
    .formTitle, 
    .formInput,
    .rememberMe,
    .contentContainerAuthOptions,
    .forgotPassword,
    .contentContainerButtons,
    .contentContainerButtons Button,
    .formInput Button,
    .containerAuthResetPwd,
    .contentContainerFormResetPwd,
    .contentContainerAuthEndForm,
    .forgotPasswordEndForm
    {
        width: 150px;
        // margin: 0 auto;
    }    
    
    .formInput{margin-top:20px}
   
    .rememberMe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forgotPassword{
        justify-content: center;    
    }
    
    // .contentContainerButtons{
    //     height: 120px;
    // }
    
    .contentContainerButtons Button, .formInput Button, .formInput input{
        padding:2px;
        padding-left:5px;
    }
    .register{
        margin-top:150px;
    }
}